body {
    background-image: url(https://images.pexels.com/photos/2847648/pexels-photo-2847648.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    /* background-image: url(https://images.pexels.com/photos/6985202/pexels-photo-6985202.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); */
    background-repeat: no-repeat;
    background-size: cover;
}

 h1 {
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    font-size: 50px;
    color: white;
 }

 h2 {
    /* background-color: brown; */
    display: flex;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: 100;
    margin-top: -2%;
    color: white;

 }

 form {
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    margin-top: 2%;
 }


 label {
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    padding: 2%;
 }

 input.ingresar {
    color: white;
    border: 2px solid white;
    border-radius: 500px;
    background-color: transparent;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    width: 6%;
    height: 40px;
    margin-top: 2%;
    text-align: center;
 }


form#boton_enviar {
    display: flex;
    justify-content: center;
}

input#enviar {
    color: white;
    margin-left: 2%;
    padding: 1%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    width: 30%;
    border-radius: 200px;
}

#contador {
    background-color:#DEC6F4;
    display: flex;
    justify-content: center;
    margin: 5% auto 0;
    margin-top: 2%;
    height: 300px;
    width: 40%;
    border-radius: 100px;
    margin-bottom: 3%;
 }

 #contador p {
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 200px;
    margin-top: 5%;
 }